    /* Sizes */
$html-min-width: 321px;
$html-max-width: 1920px;
$html-mobile-edge-offset: 16px;

$mobile-width: 321px;
$mobile-semi-width: 568px;
$mobile-max-width: 768px;
$desktop-min-width: 1160px;
$desktop-max-width: 1921px;
