.page {
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
.page__body {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
    margin: 0;
    font-family: var(--font-main);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-medium);
    color: var(--black);
    background-color: var(--white);
}
.page__header {
    flex-shrink: 0;
}
.page__main {
    flex-grow: 1;
}
.page__footer {
    flex-shrink: 0;
}
.page__modals {
    display: none;
}
.page__section {
    overflow: hidden;
    padding-bottom: 60px;
    @include to-desktop {
        padding-bottom: 90px;
    }
    @include from-desktop {
        padding-bottom: 120px;
    }
}
.page__main_home .hero__link {
    display: flex;
}
